# --- Application Configuration ---
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_BASE_URL=http://localhost:3000 # Base URL of your app

# --- Authentication ---
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# --- Database ---
DATABASE_URL=

# --- Cloudinary ---
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

# --- AI Workers & Cloudflare ---
AURA_2_EN_WORKER_URL=
BGE_M3_WORKER_URL=
CLOUDFLARE_API_KEY=
FLUX_2_KLEIN_9B_WORKER_URL=
FLUX_WORKER_URL=
GLM_WORKER_URL=
WHISPER_LARGE_V3_TURBO_WORKER_URL=

# --- External APIs ---
RESEND_API_KEY=
TAVILY_API_KEY=